<section class="legend" aria-label="Map legend">
  <h3>Legend</h3>
  <ul>
    <li><span class="legend__swatch legend__swatch--city-trap1"></span><span>Town (Trap 1 Main)</span></li>
    <li><span class="legend__swatch legend__swatch--city-trap1-general"></span><span>Town (Trap 1 General)</span></li>
    <li><span class="legend__swatch legend__swatch--city-trap2"></span><span>Town (Trap 2 Main)</span></li>
    <li><span class="legend__swatch legend__swatch--city-trap2-general"></span><span>Town (Trap 2 General)</span></li>
    <li><span class="legend__swatch legend__swatch--banner"></span><span>Banner</span></li>
    <li><span class="legend__swatch legend__swatch--resource"></span><span>Alliance Resource</span></li>
    <li><span class="legend__swatch legend__swatch--trap"></span><span>Bear Traps</span></li>
    <li><span class="legend__swatch legend__swatch--fortress"></span><span>Fortress</span></li>
  </ul>
</section>
